DISCORD_BOT_TOKEN=replace_with_discord_bot_token
STAFF_CHANNEL_ID=123456789012345678
STAFF_ROLE_ID=123456789012345678

GOOGLE_SHEET_ID=replace_with_google_sheet_id
GOOGLE_APPLICATION_CREDENTIALS=/app/secrets/google-service-account.json
